<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>“摊”上大事</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/templatemo-style.css" rel="stylesheet">

</head>

<body class="templatemo-container">
    <!-- 大图 -->
    <div class="header-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 site-name-container">
                    <img src="/static/img/logo.png" alt="Site logo" class="site-logo">
                    <h1 class="site-name">项目简介</h1>
                </div>
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 templatemo-nav-container">
                    <nav class="templatemo-nav">
                        <ul>
                            <li style="font-size: 20px;"><a href="/sanchuang_one" class="active">首页</a></li>
                            <li style="font-size: 20px;"><a href="/sanchuang_two">人流量</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header-img-5"></div>
    <!-- 大图结束 -->

    <!-- 项目名称 -->
    <div class="welcome-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-wrapper">
                        <h2 class="welcome-title text-uppercase">项目名称</h2>
                        <img src="/static/img/welcome-divider-lines.png" alt="Welcome divider"
                            class="welcome-divider-lines-img">
                        <p class="welcome-description " style="font-size: 19px;">基于云服务器的一体化流动摊贩管理平台</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 项目名称结束 -->
    <!-- 实物展示 -->
    <section class="templatemo-container section-shadow-bottom">
        <div class="container">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">项目简介</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">简介一</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3 class="section-title-2 text-uppercase font-weight-300"><b>项目</b> <span
                            class="blue-text">背景</span></h3>
                    <p style="font-size: 17px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;著名的《清明上河图》中所绘的繁华景象，沿街叫卖、支摊吆喝，
                        是古代地摊经济的真实缩影。在城市化快速发展的今天，城市的地摊经济从自发形成、聚而成市，
                        促进了城市的发展。地摊经济以其初始投资少、经营灵活且成本较低的优势，可以快速增加就业岗
                        位，高效地促进了基层民众直接就业，缓解社会就业压力。
                    </p>
                    <ul class="gray-text ul-1">
                        <li>清明上河图</li>
                        <li>美食摊贩</li>
                        <li>集市摊贩</li>
                    </ul>
                    <a href="#" class="btn-blue-gradient">了解更多</a>
                    <!--   <a href="#" class="btn-transparent">Prima Liuam</a> -->
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="carousel-container">
                        <div class="crsl-items" data-navigation="navbtns">
                            <div class="crsl-wrap">
                                <figure class="crsl-item">
                                    <img src="/static/img/sanchuang_p_qm.jpg" alt="Image"
                                        class="img-responsive img-thumbnail">
                                </figure>
                                <figure class="crsl-item">
                                    <img src="/static/img/sanchuang_p_js.jpg" alt="Image"
                                        class="img-responsive img-thumbnail">
                                </figure>
                                <figure class="crsl-item">
                                    <img src="/static/img/sanchuang_p_tf2.jpg" alt="Image"
                                        class="img-responsive img-thumbnail">
                                </figure>
                            </div>
                        </div>
                    </div> <!-- carousel-container -->
                    <div id="navbtns" class="crsl-nav">
                        <a href="#" class="previous">
                            <img src="/static/img/carousel-arrow-previous.png" alt="previous">
                        </a>
                        <a href="#" class="next">
                            <img src="/static/img/carousel-arrow-next.png" alt="next">
                        </a>
                    </div>
                </div>
            </div>
            <!-- end section content -->
        </div>
    </section>
    <!-- 论文展示 -->
    <section class="templatemo-container light-gray-bg section-shadow-bottom">
        <div class="container">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">项目介绍</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">介绍二</p>
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <img src="/static/img/sanchaung_p_logo.jpg">
                </div>
                <div class="col-lg-7 col-md-7">
                    <h3 class="section-title-2 text-uppercase font-weight-300"><b>商业</b> <span
                            class="blue-text">背景</span></h3>
                    <h3 class="justify-text">
                        公司介绍
                    </h3>
                    <p class="justify-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;本公司致力于为广大摊主提供最优质的服务，帮助他们快速
                        适应当前形势，促进地摊经济的蓬勃发展，我们会成立一个完善的运营平台，实现从进货、
                        摊位、宣传、监督与的一体化服务，为摊主争取最大的合法权益，同时配合执法部门的工作
                        ，最大可能减少摊主违法行为，减少政府的治理压力。</p>
                    <h3 class="justify-text">
                        业务简介
                    </h3>
                    <p class="justify-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;公司主要是为广大摊主提供一个平台去推广、推销他们的商品，
                        同时也为他们提供合理合法的经营指导。我们将在此平台上建立一个货源板块，引入各色商品
                        的供货商前来入驻，为使用者提供全面的供货渠道。这里是参考市场上电商平台的经营模式，
                        我们平台作为中间商，替用户保留交易资金，直到用户确认收货后，再转交给供货商。
                    </p>
                    <h3 class="justify-text">
                        团队介绍
                    </h3>
                    <p class="justify-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;公司管理层初期由新疆大学在校学生组成，结构合理，涵盖计算机，
                        机器人制造，工商管理，国际经济与贸易等不同专业，保证了公司在各个领域的专业性。同时，
                        公司吸纳了来自自动化、电气工程等领域的专家作为技术指导，为公司平台的先进性和可靠性提
                        供重要保证。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- 项目计划-->
    <section class="templatemo-container">
        <div class="container">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">发展计划</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">战略详情</p>
                </div>
            </div>
            <div class="row posts-container">
                <div class="post-excerpt post-excerpt-left">
                    <div class="post-content">
                        <p class="post-description">
                            我们依托于新疆大学这个优秀人才基地规划人才战略，做到吸引人、留住
                            人、培育人，树立起自己的人才品牌。</p>
                    </div>
                    <div class="post-date-container">
                        <div class="post-month">战略1</div>
                        <div class="post-date">人才</div>
                    </div>
                    <div class="post-arrow-container rotate-arrow">
                        <img src="/static/img/blog-arrow.png" alt="arrow">
                    </div>
                </div>
                <div class="post-excerpt post-excerpt-right">
                    <div class="post-arrow-container">
                        <img src="/static/img/blog-arrow.png" alt="arrow">
                    </div>
                    <div class="post-date-container">
                        <div class="post-month">规划1</div>
                        <div class="post-date">推广</div>
                    </div>
                    <div class="post-content">
                        <p class="post-description">
                            我们此时采取线上线下齐推广，线上投
                            入一定的资金，在一些知名的网站主页和
                            APP的广告位进行宣传等方式。</p>
                    </div>
                </div>
                <div class="post-excerpt post-excerpt-left">
                    <div class="post-content">
                        <p class="post-description">
                            现阶段，该领域内尚未出现具有很大影响力的知名企业，
                            必须抓住这个有利的时机，努力成为行业内的知名企业，逐步拓展市场。</p>
                    </div>
                    <div class="post-date-container">
                        <div class="post-month">战略2</div>
                        <div class="post-date">品牌</div>
                    </div>
                    <div class="post-arrow-container rotate-arrow">
                        <img src="/static/img/blog-arrow.png" alt="arrow">
                    </div>
                </div>
                <div class="post-excerpt post-excerpt-right">
                    <div class="post-arrow-container">
                        <img src="/static/img/blog-arrow.png" alt="arrow">
                    </div>
                    <div class="post-date-container">
                        <div class="post-month">规划2</div>
                        <div class="post-date">发展</div>
                    </div>
                    <div class="post-content">
                        <p class="post-description">拓展市场空间，
                            扩大市场占有率，形成B2B、B2C模式及外部组
                            织成熟的多元化电子管理平台，力争成为摊营领
                            域的佼佼者。</p>

                    </div>
                </div>
                <div class="post-excerpt post-excerpt-left">
                    <div class="post-content">
                        <p class="post-description">研发策略的重点在于稳定可靠，
                            能为用户提供最实质、最优质的服务，但是在不同的阶段也有区别。</p>
                    </div>
                    <div class="post-date-container">
                        <div class="post-month">战略3</div>
                        <div class="post-date">研发</div>
                    </div>
                    <div class="post-arrow-container rotate-arrow">
                        <img src="/static/img/blog-arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 经费 -->
    <section class="templatemo-container features">
        <div class="container features-content">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">团队介绍</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">人员详情</p>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-2 col-md-4 col-sm-6 footer-block">

                </div>
                <div class="col-lg-3 col-md-2 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Main menu</h3>
                    <nav class="text-uppercase templatemo-nav-2">
                        <ul>
                            <li>指导老师</li>
                            <li>成员1</li>
                            <li>成员2</li>
                            <li>成员3</li>
                            <li>成员4</li>
                            <li>成员5</li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Name</h3>
                    <ul>
                        <li>姚惠</li>
                        <li>刘宏刚</li>
                        <li>李欣然</li>
                        <li>董舒欣</li>
                        <li>苗永震</li>
                        <li>乔博伟</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Features</h3>
                    <ul>
                        <li><a href="#">项目指导</a></li>
                        <li><a href="#">程序设计</a></li>
                        <li><a href="#">市场分析</a></li>
                        <li><a href="#">商业计划</a></li>
                        <li><a href="#">市场调查</a></li>
                        <li><a href="#">网站搭建</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-overlay"></div>
    </section>

    <div class="blue-divider effect1">
        <div class="dark-blue-bg"></div>
        <div class="blue-divider-bg-graphic"></div>
        <div class="blue-bg"></div>
    </div>

    <section class="templatemo-container blue-bg footer-nav effect1">

    </section>
    <!-- end main content -->
    <footer class="text-center">
        <p class="small copyright-text">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </footer>

    <!-- JS -->
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script> <!-- jQuery -->
    <script type="text/javascript" src="/static/js/responsiveCarousel.min.js"></script> <!-- Carousel -->
    <script type="text/javascript" src="/static/js/templatemo-script.js"></script> <!-- Templatemo Script -->
    <script>
        $(function () {
            $('.crsl-items').carousel({
                visible: 1,
                itemMinWidth: 320,
                itemEqualHeight: 320,
                itemMargin: 9,
            });
            $(".crsl-nav a[href=#]").on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
</body>

</html>