<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>“摊”上大事</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/templatemo-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/sanchuang2.css" />

</head>

<body class="templatemo-container">
    <!-- 大图 -->
    <div class="header-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 site-name-container">
                    <img src="/static/img/logo.png" alt="Site logo" class="site-logo">
                    <h1 class="site-name">项目简介</h1>
                </div>
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 templatemo-nav-container">
                    <nav class="templatemo-nav">
                        <ul>
                            <li style="font-size: 20px;"><a href="/sanchuang_one">首页</a></li>
                            <li style="font-size: 20px;"><a href="/sanchuang_two" class="active">人流量</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header-img-5"></div>
    <!-- 大图结束 -->

    <!-- 项目名称 -->
    <div class="welcome-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-wrapper">
                        <h2 class="welcome-title text-uppercase">项目名称</h2>
                        <img src="/static/img/welcome-divider-lines.png" alt="Welcome divider"
                            class="welcome-divider-lines-img">
                        <p class="welcome-description " style="font-size: 19px;">基于云服务器的一体化流动摊贩管理平台</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 项目名称结束 -->
    <!-- 动图2 -->
    <section class="templatemo-container light-gray-bg section-shadow-bottom">
        <div class="container">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">城市主要路口人流量及摊贩数量显示图</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">路口一</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-6">
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="top">
                        <span class="red"></span>
                        人流量
                        <span class="green"></span>
                        摊贩量
                    </div>
                    <div class="box">
                        <div id="container1"></div>
                        <span class="moveDot" id="moveDot1"></span>
                        <span class="moveDot" id="moveDot2"></span>
                        <span class="moveDot" id="moveDot3"></span>
                        <span class="moveDot" id="moveDot4"></span>
                        <span class="moveDot" id="moveDot5"></span>
                        <span class="moveDot" id="moveDot6"></span>
                        <span class="moveDot" id="moveDot7"></span>
                        <span class="moveDot" id="moveDot8"></span>
                        <span class="moveDot" id="moveDot9"></span>
                        <span class="moveDot" id="moveDot10"></span>

                        <span class="moveDot" id="moveDot11"></span>
                        <span class="moveDot" id="moveDot12"></span>
                        <span class="moveDot" id="moveDot13"></span>
                        <span class="moveDot" id="moveDot14"></span>
                        <span class="moveDot" id="moveDot15"></span>
                        <span class="moveDot" id="moveDot16"></span>
                        <span class="moveDot" id="moveDot17"></span>
                        <span class="moveDot" id="moveDot18"></span>
                        <span class="moveDot" id="moveDot19"></span>
                        <span class="moveDot" id="moveDot20"></span>

                        <span class="moveDot" id="moveDot21"></span>
                        <span class="moveDot" id="moveDot22"></span>
                        <span class="moveDot" id="moveDot23"></span>
                        <span class="moveDot" id="moveDot24"></span>
                        <span class="moveDot" id="moveDot25"></span>
                        <span class="moveDot" id="moveDot26"></span>
                        <span class="moveDot" id="moveDot27"></span>
                        <span class="moveDot" id="moveDot28"></span>
                        <span class="moveDot" id="moveDot29"></span>
                        <span class="moveDot" id="moveDot30"></span>

                        <span class="moveDot" id="moveDot31"></span>
                        <span class="moveDot" id="moveDot32"></span>
                        <span class="moveDot" id="moveDot33"></span>
                        <span class="moveDot" id="moveDot34"></span>
                        <span class="moveDot" id="moveDot35"></span>
                        <span class="moveDot" id="moveDot36"></span>
                        <span class="moveDot" id="moveDot37"></span>
                        <span class="moveDot" id="moveDot38"></span>
                        <span class="moveDot" id="moveDot39"></span>
                        <span class="moveDot" id="moveDot40"></span>

                        <span class="moveDot" id="moveDot41"></span>
                        <span class="moveDot" id="moveDot42"></span>
                        <span class="moveDot" id="moveDot43"></span>
                        <span class="moveDot" id="moveDot44"></span>
                        <span class="moveDot" id="moveDot45"></span>
                        <span class="moveDot" id="moveDot46"></span>
                        <span class="moveDot" id="moveDot47"></span>
                        <span class="moveDot" id="moveDot48"></span>
                        <span class="moveDot" id="moveDot49"></span>
                        <span class="moveDot" id="moveDot50"></span>
                    </div>
                    <a href="#" class="btn-blue-gradient">了解更多</a>
                    <!--   <a href="#" class="btn-transparent">Prima Liuam</a> -->
                </div>
            </div>
            <!-- end section content -->

        </div>
    </section>
    <!-- 动图1 -->
    <section class="templatemo-container section-shadow-bottom">
        <div class="container">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">城市主要路口人流量及摊贩数量显示图</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">路口二</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-6">
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="top">
                        <span class="red"></span>
                        人流量
                        <span class="green"></span>
                        摊贩量
                    </div>
                    <div class="box2">
                        <div id="container2"></div>
                        <span class="moveDot" id="bmoveDot1"></span>
                        <span class="moveDot" id="bmoveDot2"></span>
                        <span class="moveDot" id="bmoveDot3"></span>
                        <span class="moveDot" id="bmoveDot4"></span>
                        <span class="moveDot" id="bmoveDot5"></span>
                        <span class="moveDot" id="bmoveDot6"></span>
                        <span class="moveDot" id="bmoveDot7"></span>
                        <span class="moveDot" id="bmoveDot8"></span>
                        <span class="moveDot" id="bmoveDot9"></span>
                        <span class="moveDot" id="bmoveDot10"></span>

                        <span class="moveDot" id="bmoveDot11"></span>
                        <span class="moveDot" id="bmoveDot12"></span>
                        <span class="moveDot" id="bmoveDot13"></span>
                        <span class="moveDot" id="bmoveDot14"></span>
                        <span class="moveDot" id="bmoveDot15"></span>
                        <span class="moveDot" id="bmoveDot16"></span>
                        <span class="moveDot" id="bmoveDot17"></span>
                        <span class="moveDot" id="bmoveDot18"></span>
                        <span class="moveDot" id="bmoveDot19"></span>
                        <span class="moveDot" id="bmoveDot20"></span>

                        <span class="moveDot" id="bmoveDot21"></span>
                        <span class="moveDot" id="bmoveDot22"></span>
                        <span class="moveDot" id="bmoveDot23"></span>
                        <span class="moveDot" id="bmoveDot24"></span>
                        <span class="moveDot" id="bmoveDot25"></span>
                        <span class="moveDot" id="bmoveDot26"></span>
                        <span class="moveDot" id="bmoveDot27"></span>
                        <span class="moveDot" id="bmoveDot28"></span>
                        <span class="moveDot" id="bmoveDot29"></span>
                        <span class="moveDot" id="bmoveDot30"></span>
                    </div>
                    <a href="#" class="btn-blue-gradient">了解更多</a>
                    <!--   <a href="#" class="btn-transparent">Prima Liuam</a> -->
                </div>
            </div>
            <!-- end section content -->

        </div>
    </section>

    <section class="templatemo-container features">
        <div class="container features-content">
            <div class="row section-title-container">
                <div class="col-lg-12 text-uppercase text-center">
                    <h2 class="section-title">团队介绍</h2>
                    <div class="section-title-underline-blue"></div>
                    <hr class="section-title-underline">
                    <p class="small">人员详情</p>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-2 col-md-4 col-sm-6 footer-block">

                </div>
                <div class="col-lg-3 col-md-2 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Main menu</h3>
                    <nav class="text-uppercase templatemo-nav-2">
                        <ul>
                            <li>指导老师</li>
                            <li>成员1</li>
                            <li>成员2</li>
                            <li>成员3</li>
                            <li>成员4</li>
                            <li>成员5</li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Name</h3>
                    <ul>
                        <li>姚惠</li>
                        <li>刘宏刚</li>
                        <li>李欣然</li>
                        <li>董舒欣</li>
                        <li>苗永震</li>
                        <li>乔博伟</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Features</h3>
                    <ul>
                        <li><a href="#">项目指导</a></li>
                        <li><a href="#">程序设计</a></li>
                        <li><a href="#">市场分析</a></li>
                        <li><a href="#">商业计划</a></li>
                        <li><a href="#">市场调查</a></li>
                        <li><a href="#">网站搭建</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-overlay"></div>
    </section>
    <!-- 团队介绍 -->
    <div class="blue-divider effect1">
        <div class="dark-blue-bg"></div>
        <div class="blue-divider-bg-graphic"></div>
        <div class="blue-bg"></div>
    </div>

    <section class="templatemo-container blue-bg footer-nav effect1">

    </section>
    <!-- end main content -->
    <footer class="text-center">
        <p class="small copyright-text">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </footer>

    <!-- JS -->
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script> <!-- jQuery -->
    <script type="text/javascript" src="/static/js/responsiveCarousel.min.js"></script> <!-- Carousel -->
    <script type="text/javascript" src="/static/js/templatemo-script.js"></script> <!-- Templatemo Script -->
    <script>
        $(function () {
            $('.crsl-items').carousel({
                visible: 1,
                itemMinWidth: 320,
                itemEqualHeight: 320,
                itemMargin: 9,
            });
            $(".crsl-nav a[href=#]").on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
</body>

<script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=T4MMQArLw2Ap1wsdqtxBY2q3Ucqbs9QN">
</script>
<script src="/static/js/sanchuang2.js"></script>


</html>