<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>山外青山</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <style>
        .more .more-item {
            display: inline-block;
            margin-right: 20px;
        }

        .hight1 {
            margin-top: 82px;
        }

        .hight2 {
            margin-top: 30px;
        }

        .hight3 {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/1_index_laboratory">实验室</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">项目管理 <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">NO</a></li>
                            <li><a href="#">NO</a></li>
                            <li><a href="#">NO</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">NO</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">NO</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/1_index_register">登录</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">no</a></li>
                            <li><a href="#">no</a></li>
                            <li><a href="#">no</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">no</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="col-sm-8">
            <div class="hight1"></div>
            <div class="bs-example" data-example-id="media-alignment">
                <!--1-->
                <div class="media">
                    <div class="media-body">
                        <a style="color:darkgreen" href="/2_nongji_index">
                            <h4 class="media-heading">大型农业机械多模态数据采集与远程运维系统</h4>
                        </a>
                        <div class="hight3"></div>

                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过对泛终端芯片及操作系统应用开发，全面使用国产芯片以及操作系统，
                            提出一项通过智能采集技术和算法，利用云平台实现对大型收获作业机械多
                            模态监测与故障预警的远程运维技术。来提高农业机械化技术水平，为农业生
                            产劳作提供新型技术支持。
                        </p>
                        <div class="more">
                            <div class="more-item">
                                <span>开始日期：2023.06</span>
                            </div>
                            <div class="more-item">
                                <span>截止日期：2024.06</span>
                            </div>
                            <div class="more-item">
                                <span>赛项：大创（校）</span>
                            </div>
                        </div>
                    </div>
                    <!--img-->
                    <div class="media-right">
                        <a href="/static/img/device.jpg">
                            <img class="media-object" data-src="holder.js/64x64" alt="100阿萨德"
                                style="width: 226px; height: 126px;" src="/static/img/device.jpg"
                                data-holder-rendered="true">
                        </a>

                    </div>
                </div>

                <!--2-->
                <div class="media">
                    <div class="hight2"></div>
                    <div class="media-body">
                        <a style="color:darkgreen" href="/sanchuang_one">
                            <h4 class="media-heading">“摊”上大事</h4>
                        </a>

                        <div class="hight3"></div>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“‘摊上大事’一基于大数据的一体
                            化平台助力智慧城市建设”作为城市地摊运营管理平台、经营销售平台，运用大数据、云计算技
                            术，助力地摊经济的快速发展。
                        </p>
                        <div class="more">
                            <div class="more-item">
                                <span>开始日期：2023.10</span>
                            </div>
                            <div class="more-item">
                                <span>截止日期：2024.10</span>
                            </div>
                            <div class="more-item">
                                <span>赛项：三创</span>
                            </div>
                        </div>
                    </div>
                    <!--img-->
                    <div class="media-right media-middle">
                        <a href="/static/img/sanchuang1.png">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                style="width: 226px; height: 126px;" src="/static/img/sanchuang1.png"
                                data-holder-rendered="true">
                        </a>
                    </div>
                </div>

                <!--3-->
                <div class="media">
                    <div class="hight2"></div>
                    <div class="media-body">
                        <a style="color:darkgreen" href="/templates/3tree.html">
                            <h4 class="media-heading">基于单片机的多窗帘协同与独立控制系统的制作</h4>
                        </a>

                        <div class="hight3"></div>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基于单片机的多窗帘智能协同控制，
                            旨在对室内窗帘进行整体控制与部分控制的协同进行，
                            主要应用于公司、厂房车间、大型会场和大型教室等
                            需要多窗帘的场景，对日常家居环境也同样适用。
                        </p>
                        <div class="more">
                            <div class="more-item">
                                <span>开始日期：2022.10</span>
                            </div>
                            <div class="more-item">
                                <span>截止日期：2022.10</span>
                            </div>
                            <div class="more-item">
                                <span>赛项：大创（省）</span>
                            </div>
                        </div>
                    </div>
                    <!--img-->
                    <div class="media-right media-middle">
                        <a href="/static/img/curtain.png">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                style="width: 226px; height: 126px;" src="/static/img/curtain.png"
                                data-holder-rendered="true">
                        </a>
                    </div>
                </div>

                <!--4-->
                <div class="media">
                    <div class="hight2"></div>
                    <div class="media-body">
                        <a style="color:darkgreen" href="/templates/3tree.html">
                            <h4 class="media-heading">基于Arduino的全自动智能种树小车</h4>
                        </a>
                        <div class="hight3"></div>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本项目旨在对树苗进行全过程的自动化智能化种植，
                            主要应用于规模化种植树苗的作业。全自动化种树不但能够使种树更加便捷，而且还能确保种树的效率。
                            本项目将实现智能化的小型树苗种植，降低传统人工植树的成本，使得种植的效率大幅提高。
                        </p>
                    </div>
                    <!--img-->
                    <div class="media-right media-bottom">
                        <a href="/static/img/treecar.jpg">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                style="width: 226px; height: 126px;" src="/static/img/treecar.jpg"
                                data-holder-rendered="true">
                        </a>
                    </div>
                </div>
                <div class="more">
                    <div class="more-item">
                        <span>开始日期：2023.10</span>
                    </div>
                    <div class="more-item">
                        <span>截止日期：2024.10</span>
                    </div>
                    <div class="more-item">
                        <span>赛项：大创（国）</span>
                    </div>
                </div>

            </div>
            <div class="hight2"></div>
            <div class="bs-example" data-example-id="simple-pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-sm-1">
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">留言板</div>
                <div class="panel-body">
                    Bob：新年快乐
                </div>
                <div class="panel-body">
                    Jack：恭喜发财
                </div>
                <div class="panel-body">
                    <a href="https://gitee.com/swqslwl/web1">https://gitee.com/swqslwl/web1</a>
                </div>
                <div class="panel-body">
                    nginx+uWSGI+Flask+mySQL
                </div>
                <div class="panel-body">
                    已备案
                </div>
                <div class="panel-body">
                    已部署ssl证书
                </div>

            </div>


        </div>

        <script src="/static/js/jquery-3.7.1.js"></script>
        <!--bootstrp依赖于jquery库-->
        <script src="/static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
        <!--有了js的库后，引入bootstrp所需的js-->
</body>

</html>